*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  background-color:black;
}
#root{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.main-container{
  color:rgb(148, 144, 144);
  padding:20px;
  width:70vw;
  background:rgb(106, 18, 141);
  box-shadow:inset 0px 0px 20px -5px black;
  border-radius:1px;
}
.main-heading{
  font-size:22px;
text-align: center;
text-transform: uppercase;
margin-bottom:20px;
}
.main-para{
  text-align:center;
  font-weight:bold;
  font-size:18px;
  
}